<div class="example-container mat-elevation-z1">
  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="data"
      class="example-table"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Nom
        </th>
        <td ngClass="section" mat-cell *matCellDef="let group">
          <div>
            {{ group.name }}
          </div>
          <div>
            <mat-list role="list" ngClass="item-list">
              <mat-list-item
                ngClass="item"
                *ngFor="let student of group.students"
                role="listitem"
                >{{ student.userAccount.firstName }} -
                {{ student.userAccount.lastName }}
                <button
                  mat-icon-button
                  color="primary"
                  (click)="deleteItem(student)"
                  title="Remove student"
                >
                  <mat-icon
                    ngClass="delete-icon"
                    aria-hidden="false"
                    aria-label="Example home icon"
                    >delete_forever</mat-icon
                  >
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="resultsLength"
    [pageSize]="30"
    aria-label="Sélectionner une page de groupes d'étudiants"
  ></mat-paginator>
</div>
